.navdise {
    background-color: #f7f8fc!important;
    border-bottom-color: #f7f8fc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}


.numerostyle1{ margin-top: 10px;}
.logo{margin-top: -10px;}